<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">


  

  
    <servlet>
        <servlet-name>IDACall</servlet-name>
        <servlet-class>com.isomorphic.servlet.IDACall</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>XMLSelect</servlet-name>
        <servlet-class>com.isomorphic.xml.XMLSelectServlet</servlet-class>
    </servlet>

    <!-- The FileDownload servlet downloads static files, like a webserver -->
    <servlet>
        <servlet-name>FileDownload</servlet-name>
        <servlet-class>com.isomorphic.servlet.FileDownload</servlet-class>
    </servlet>

    <!-- ISC init: initializes ISC framework -->
    <servlet>
        <servlet-name>Init</servlet-name>
        <servlet-class>com.isomorphic.base.Init</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
  <servlet>
        <servlet-name>DataSourceLoader</servlet-name>
        <servlet-class>com.isomorphic.servlet.DataSourceLoader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataSourceLoader</servlet-name>
        <url-pattern>/sc/DataSourceLoader</url-pattern>
    </servlet-mapping>

 <servlet-mapping>
        <servlet-name>IDACall</servlet-name>
        <url-pattern>/parent/parent/sc/IDACall/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>IDACall</servlet-name>
        <url-pattern>/parent/sc/IDACall</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>IDACall</servlet-name>
        <url-pattern>/parent/sc/IDACall/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>IDACall</servlet-name>
        <url-pattern>/parent/parent/sc/IDACall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
<servlet-name>IDACall</servlet-name>
<url-pattern>/parent/parent/isomorphicIDACall.aspx/*</url-pattern>
</servlet-mapping>
    <servlet-mapping>
        <servlet-name>IDACall</servlet-name>
        <url-pattern>/isomorphic/IDACall/*</url-pattern>
    </servlet-mapping>

    <!-- Built-in DataSource operations backcompat -->
    <servlet-mapping>
        <servlet-name>IDACall</servlet-name>
        <url-pattern>/isomorphic/IDACall.aspx/*</url-pattern>
    </servlet-mapping>

    <!-- Duplicate the servlet mapping for IDACall to inside examples/secureApp, so that
         its access may be authenticated. For a production server, the "main" IDACall
         mapping is removed, while this secured mapping remains. -->
    <servlet-mapping>
      <servlet-name>IDACall</servlet-name>
      <url-pattern>/examples/secureApp/IDACall/*</url-pattern>
    </servlet-mapping>
  <jsp-config>
        <!-- Isomorphic JSP tags -->
        <taglib>
            <taglib-uri>isomorphic</taglib-uri> 
            <taglib-location>/WEB-INF/iscTaglib.xml</taglib-location> 
        </taglib>

        <!-- Struts Tag Library Descriptors -->

        <!-- Serve *.isc files with iscHeader/iscFooter -->
        <jsp-property-group>
            <url-pattern>*.isc</url-pattern>
            <el-ignored>true</el-ignored>
            <include-prelude>/shared/jsp/iscHeader.jsp</include-prelude>
            <include-coda>/shared/jsp/iscFooter.jsp</include-coda>
        </jsp-property-group>
        <!-- Process *.rpc files as RPC requests - puts you in an iterator over current RPC requests -->
        <jsp-property-group>
            <url-pattern>*.rpc</url-pattern>
            <el-ignored>true</el-ignored>
            <include-prelude>/shared/jsp/rpcHeader.jsp</include-prelude>
            <include-coda>/shared/jsp/rpcFooter.jsp</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>true</el-ignored>
        </jsp-property-group>
    </jsp-config>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>parent.html</welcome-file>
  </welcome-file-list>

</web-app>
